.cityimg{
    height: 150px;
    width: 150px;
    padding: 3%;
    border-radius:25%;   
}

body{
    background-color: #e0e0e0;
}
.content{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 380px;
    background-size: cover;
}
.citycards{
    margin:  auto 15% ;
    
}